<div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 rounded-xl">
  <table class="min-w-full divide-y bg-neutral-light dark:bg-neutral-dark">
    <thead class="bg-background-light dark:bg-background-dark">
      <tr>
        {% for col in cols %}<th class="py-3 px-3 text-left text-sm font-semibold">{{ col }}</th>{% endfor %}
      </tr>
    </thead>
    <tbody class="divide-y">
      {% for row in rows %}
      <tr class="hover:bg-slate-50 dark:hover:bg-slate-800/50">
        {% for col in cols %}
          {% if col == 'Actions' %}
            <td class="px-3 py-4 text-sm">{{ row[col] | safe }}</td>
          {% else %}
            <td class="px-3 py-4 text-sm">{{ row[col] }}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>