<div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 rounded-xl">
  <table class="min-w-full divide-y bg-neutral-light dark:bg-neutral-dark">
    <thead class="bg-background-light dark:bg-background-dark">
      <tr>
        <th class="py-3 px-3 text-left text-sm font-semibold">Code</th>
        <th class="py-3 px-3 text-left text-sm font-semibold">Name</th>
        <th class="py-3 px-3 text-right text-sm font-semibold">Opening</th>
        <th class="py-3 px-3 text-right text-sm font-semibold">Debit</th>
        <th class="py-3 px-3 text-right text-sm font-semibold">Credit</th>
        <th class="py-3 px-3 text-right text-sm font-semibold">Closing</th>
      </tr>
    </thead>
    <tbody class="divide-y">
      {% include 'components/rows/trial_balance_row.html' %}
      <tr class="bg-slate-100 font-semibold">
        <td colspan="2" class="px-3 py-4 text-right">Totals:</td>
        <td class="px-3 py-4 text-right">--</td>
        <td class="px-3 py-4 text-right">{{ "%.2f"|format(total_debit) }}</td>
        <td class="px-3 py-4 text-right">{{ "%.2f"|format(total_credit) }}</td>
        <td class="px-3 py-4 text-right">{% if balanced %}<span class="text-green-600">Balanced</span>{% else %}<span class="text-red-600">Not Balanced</span>{% endif %}</td>
      </tr>
    </tbody>
  </table>
</div>
